@import "tailwindcss";

:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-neutral-50 text-neutral-900 antialiased;
}


html, body {
  margin: 0;
  padding: 0;
}

/* I din globala CSS-fil, t.ex. src/index.css */

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

  .animate-marquee {
    /* Du kan justera '30s' för att ändra hastigheten (längre tid = långsammare) */
    animation: marquee 20s linear infinite;
  }
}
